__pycache__
dfs_storage_node/__pycache__
dfs_storage_node/data
dfs_user_client/__pycache__
dfs_user_client/client_storage
dfs_tracking_server/__pycache__
dfs_tracking_server/dfs_tracking_server/__pycache__

.vscode
.proto-env